<!DOCTYPE html>
<html>
  <head>
    <title><% if(typeof title != 'undefined') {%> <%= title %> <% } %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% if(typeof error != 'undefined') {%>
    <%= error %>
    <% } %>
    <% if(typeof meta != 'undefined' && typeof itens != 'undefined') {%>
    <h1>META</h1>
      <%- JSON.stringify(meta) %>
    <h2>Itens</h2>
      <%- JSON.stringify(itens) %>
    <% } %>
  </body>
</html>
