<div class="container" ng-init="hash=0">
    <div class="row" style="padding-top:10px;">
        <form class="col s6 offset-s3">
            <div class="row">
                <div class="col s8 offset-s3">
                    <img src="https://www.gravatar.com/avatar/{{hash}}?s=200&d=mm" alt="" class="circle responsive-img z-depth-2">
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="valid z-depth-2" ng-model="email" ng-blur="email_hash(email, false)">
                    <label for="email" data-error="Email doesn't exist" style="width:100%">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="valid z-depth-2" ng-model="password">
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <center>
                    <button class="btn waves-effect waves-light z-depth-2" type="submit" name="action" ng-click="sign_in(email, password)">Sign In
                    </button>
                    </center>
                </div>
            </div>
        </form>
    </div>
</div>