<nav>
  <div class="nav-wrapper teal">
    <a ui-sref="home.landing" class="brand-logo">FeedReader</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="" ng-click="sign_out()">Sign Out</a></li>
    </ul>
  </div>
</nav>
<div class="row" style="padding-top:10px;" ng-controller="FeedController">
  <div class="col s3">
    <form ng-submit="add_feed()">
      <input type="text" ng-model="url" id="url" name="url" placeholder="URL" />
    </form>
    
    <div class="collection">
      <a href="" class="collection-item" ng-repeat="feed in feeds" ng-click="feed_selected(feed)">{{feed.title}}<span class="new badge blue darken-3">{{feed.entries.length}}</span></a>
    </div>
  </div>
  <div class="col s9">
    <h2><a href="{{feed.site_url}}">{{feed.title}}</a></h2>
    <ul class="collapsible" data-collapsible="accordion">
      <li ng-repeat="entry in feed.entries" repeat-finished>
        <div class="collapsible-header">{{entry.title}}</div>
        <div class="collapsible-body flow-text">
          <h3><a href="{{entry.entry_url}}">{{entry.title}}</a></h3>
          <div ng-bind-html="entry.content"></div>
        </div>
      </li>
    </ul>
  </div>
</div>