<nav>
  <div class="nav-wrapper teal">
    <a ui-sref="home.landing" class="brand-logo">FeedReader</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="" ng-click="sign_out()">Sign Out</a></li>
    </ul>
  </div>
</nav>
<div ui-view></div>
<div class="row" style="padding-top:10px;" ng-controller="FeedController">
  <div class="col s3">
    <form ng-submit="add_feed()">
      <input type="text" ng-model="url" id="url" name="url" placeholder="URL" />
    </form>
  </div>
  <div class="col s9">
  </div>
</div>